[submodule "src/external/hmdeepstream"]
	path = src/external/deepstream
	url = ssh://git@github.com/cjolivier01/hmdeepstream
[submodule "src/external/hm"]
	path = src/external/hm
	url = ssh://git@github.com/cjolivier01/hockeymom2
