*.engine
/*.dot
*.o
*.so
bazel-src
bazel-bin
bazel-out
bazel-testlogs
*.pyc
/bazel-hstream
compile_commands.json
.registry-synced
cuda-keyring*.deb
/*.mp4
/*.mkv
pipeline*.dot
output.png
MODULE.bazel.lock
.cache
camera_bin.dot
output_workdirs
/dist-staging
/dist
